@media (max-width:980px) {
    /* body {
        width: auto;
        margin: 0 auto;
    } */

    .body-container {
        width: auto;
        margin: 10% auto;
    }

    nav {
        width: auto;
        margin: 3% auto;
    }

    .hamburger {
        display: flex;
        margin-right: 50px;
        width: 22px;
    }


    .menu {
        display: none;
    }

    .header {
        height: 20vh;

    }




    .img img {
        max-width: 90%;


    }

    .content {
        padding: 10px 20px;
    }

    .content h1 {
        font-size: 35px;

    }

    .content p {
        font-size: 17px;
    }

    .content a {
        padding: 10px 20px;
        font-size: 15px;
    }

    /* Why Choose US */

    .why-choose-us {
        margin: 20% 0px;
    }

    .heading-container p {
        font-size: 13px;

    }

    .heading-container h2 {
        font-size: 30px;
    }

    .sections {
        margin: 0px 20px;
    }

    /* Services */
    .Services {
        height: fit-content;
        width: auto;
    }

    .Services h2 {
        font-size: 40px;
        padding: 10px 20px;
        margin-top: 5%;
    }

    .services-cards {
        padding: 10px 20px;
    }

    /* Team */
    .team-container h2 {
        font-size: 35px;
        text-align: center;
    }

    .team-card h3 {
        font-size: 15px;
    }

    .team-card strong {
        font-size: 13px;
        text-align: center;
    }

    .team-card a {
        font-size: 11px;
    }

    /* Testimonial */
    .testimonial {
        width: auto;
        height: fit-content;
    }




}

@media(max-width: 750px) {
    nav {
        margin: 3% auto;
    }

    .hamburger {
        width: 1.4rem;
        height: 12px;
    }


    .header {
        flex-direction: column;
        align-items: flex-start;
        height: 20vh;


    }

    .content h1 {
        font-size: 30px;


    }

    .content a {
        padding: 10px 15px;
        font-size: 13px;
    }

    .img img {
        max-width: 35%;
        position: absolute;
        right: 0;
        margin: 20px 10px;

    }

    /* Why Choose US  */


    .why-choose-us {
        margin: 45% 0px;
    }

    .heading-container {
        height: 250px;
    }

    .heading-container h2 {
        font-size: 25px;
    }

    /* Services */
    .Services {
        height: fit-content;
        width: auto;
    }

    .Services h2 {
        font-size: 40px;
        padding: 10px 20px;
        margin-top: 5%;
    }

    .card h3 {
        font-size: 21px;
    }

    .card p {
        font-size: 13px;
    }

    .card a {
        font-size: 11px;
    }

    /* Team */

    .team-container h2 {
        font-size: 30px;
        text-align: center;
    }

    .team-members {
        flex-direction: column;

    }

    .team-card {
        margin: 50px;
    }


    .team-card img {
        width: 30%;

    }

    .team-card h3 {
        font-size: 15px;
    }

    .team-card strong {
        font-size: 13px;
        text-align: center;
    }

    .team-card a {
        font-size: 11px;
    }



    /* Testimonial */
    .testimonial {
        width: auto;
        height: 20vh;
    }

    .testimonial h1 {
        font-size: 30px;
        padding: 30px;
        text-align: center;
        margin: 10px 40px;
    }

    .slide-col {
        position: relative;
        width: 100%;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .feedback-content {
        left: 30%;
        width: 350px;
        height: 200px;

    }

    .feedback-content p {
        font-size: 15px;
        line-height: 1;
    }

    .feedback-content h2 {
        font-size: 16px;
        font-weight: 600;
        margin-top: 20px;
        color: #4d4352;
    }


    .indicator .btn {

        height: 10px;
        width: 10px;
    }


    /* Contact Section */
    .contact-container {
        flex-direction: column;
    }

    .contact-form {
        width: 70%;
        left: 18%;
        top: 50px;

    }
    .contact-form h2{
        font-size:22px;
        text-align: center;
    }

    .contact-details p:first-child {
        font-size: 13px;
    }

    .contact-details strong {
        font-size: 18px;
    }

    .contact-details h3 {
        font-size: 16px;
    }

    .steps-container {
        flex-direction: column;


    }

    .step {
        align-items: center;
        margin: 10px 20px;


    }

    .step h2 {
        font-size: 18px;
        padding: 0px 10px;
        color: rgb(37, 37, 37);
    }

    .step p {
        font-size: 13px;
    }


    /* Creating Contact Form */

    .contact-form select,
    .contact-form input {
        padding: 7px 9px;
        width: 60%;
    }

    .contact-form select,
    .contact-form input ::placeholder {
        font-size: 14px;
    }

    .contact-form button {
        padding: 5px;
        width: 40%;

    }


}

@media (max-width:400px) {
    nav {
        margin: 3% auto;
    }

    .hamburger {
        width: 2rem;
        height: 12px;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
        height: 20vh;


    }

    .content h1 {
        font-size: 20px;

    }

    .content p {
        font-size: 12px;
    }

    .content a {
        padding: 10px 20px;
        font-size: 10px;
    }

    /* Why Choose US  */


    .why-choose-us {
        margin: 55% 0px;
    }

    .heading-container {
        height: 200px;
    }

    .heading-container p {
        font-size: 10px;

    }

    .heading-container h2 {
        font-size: 22px;
    }

    .sections {
        margin: 0px 20px;
    }


    /* Testimonial */
    .testimonial {
        width: auto;
        height: 10vh;
    }

    .testimonial h1 {
        font-size: 22px;
        padding: 30px;
        text-align: center;
    }

    .slide-col {
        position: relative;
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .feedback-content {
        left: 34%;
        width: 250px;
        height: 150px;
    }

    .feedback-content p {
        font-size: 11px;
        font-weight: 400;
        line-height: 1;
    }

    .feedback-content h2 {
        font-size: 12px;
        font-weight: 600;
        margin-top: 20px;
        color: #4d4352;
    }


    .indicator .btn {

        height: 10px;
        width: 10px;
    }
}